@model Pigeoid.Epsg.EpsgCrs
@{
// Layout = "/Views/Shared/_Layout.cshtml";
// ViewBag.Title = "Home Page";
}
<h1>@Model.Name <small>@Model.Authority</small></h1>

<table>
    <tbody>
        <tr>
            <th>Area of Use</th><td>@Model.</td>
        </tr>
    </tbody>
</table>

